@model GestorDeProyectos.Models.ViewModels.DashboardViewModel

<div class="text-center">
    <h3 class="h5">Total Horas Trabajadas</h3>
    <div class="display-4">@Model.TotalHoursWorked</div>
    <div class="text-muted">horas</div>
</div>
